#header {
  background-color: red;
  height: 100%;

}

#nav {
  background-color: cornflowerblue;
  text-align: center;
  padding: 40px 0;
  position: sticky;
  top: 0%;
}

#content {
  background-color: yellow;
  height: 1000vh;
}